.nav{
    grid-area: n;
    background-color: cyan;
    border: 1px solid black;
    margin-right: 5px;
}
.item a{
    color: black;
    margin-left: 10px;
    margin-top: 5px;
}
.item a.activeLink{
    color:gold;
}
